@font-face{
	font-family: fmono;
	src: url("/assets/fonts/FiraMono-Regular.otf");
}
@font-face{
	font-family: fsansc;
	src: url("/assets/fonts/FiraSansCondensed-Regular.otf");
}
@font-face{
	font-family: fsans;
	src: url("/assets/fonts/FiraSans-Regular.otf");
}


:root {

	--bg            : #FFFFE8;
	--bg-alt        : #FFFFD8;
	--bg-dark       : #E5E5D0;

	--fg            : #424242;
	--fg-darker     : #323232;
	--fg-alt        : #B8B09A;
	--fg-alt-dark   : #988d6d;
	--fg-light      : #CCCCB7;

	--highlight     : #e8eb98;

	--cyan          : #4fa8a8;
	--cyan-light    : #98ece8;

	--red           : #b85c57;
	--red-light     : #f8e8e8;

	--yellow        : #989848;
	--yellow-light  : #f8fce8;

	--green         : #40883f;
	--green-light   : #e8fce8;

	--blue          : #0287c8;
	--blue-light    : #c1e7f8;

	--purple        : #8888c8;
	--purple-light  : #e7fcf7;
}

.content{
	min-height: 100vh;
}


img{
	display: block;
	width: 60%;
}

.capimg{
	width: initial !important;
}

form>*{
	display: block;
	margin: 1% auto;
	text-align: center;
	font-family: 'fsans', sans-serif;
}

textarea, input.form{
	text-align: initial !important;
	font-family: 'fmono', monospace;
	border: solid 3px var(--cyan);
	background-color: var(--bg-alt);
	color: var(--fg);
	padding: 1%;
}

textarea:focus, input.form:focus{
	border: solid 3px var(--cyan-light);
}


hr{
	border: 0;
	border-bottom: 3px solid var(--cyan);
}

body{
	background-color: var(--bg);
	color: var(--fg);
	font-family: "fsans", sans-serif;
}

textarea{
	width: 90%;
}

nav{
	font-family: "fsans", sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: var(--fg);
}

::selection{
	background: var(--highlight);
}

a, a:active, .navlink:active, .navlink:visited{
	color: var(--blue);
}

a:visited{
	color: var(--purple);
}

a:hover, .navlink:hover{
	color: var(--cyan);
}

h1, h2, h3, h4, h5, h6{
	font-family: "fsans", sans-serif;
}

pre{
	border: solid 3px var(--cyan);
	background-color: var(--bg-alt);
	color: var(--fg);
	padding: 1%;
	overflow: auto;
	font-family: 'fmono', monospace;
}

pre:hover{
	border: solid 3px var(--cyan-light);
}

table{
	border-collapse: collapse;
	font-family: "fsans", sans-serif;
}

td, th{
	border: solid 3px var(--cyan);
	padding: 1%;
}

tr:nth-child(even){
	padding: 1%;
	background-color: var(--green-light);
}

@media(prefers-color-scheme: dark){
	body, hr{
		background-color: var(--fg);
		color: var(--bg-alt);
	}
	tr:nth-child(even){
		padding: 1%;
		background-color: var(--red);
	}
	pre, textarea, input.form{
		background-color: var(--fg-darker);
		color: var(--bg);
	}
	
	::selection{
		background: var(--yellow);
	}
	nav{
		color: var(--bg);
	}
}

/* responsive */
*{
	box-sizing: border-box;
}

[class*="col-"]{
	float: left;
	padding: 15px;
} 

.row::after{
	content: "";
	clear: both;
	display: table;
}

/* For mobile phones: */
[class*="col-"]{
	width: 100%;
}

@media only screen and (min-width: 600px){
	/* For tablets: */
	.col-s-1{width: 8.33%;}
	.col-s-2{width: 16.66%;}
	.col-s-3{width: 25%;}
	.col-s-4{width: 33.33%;}
	.col-s-5{width: 41.66%;}
	.col-s-6{width: 50%;}
	.col-s-7{width: 58.33%;}
	.col-s-8{width: 66.66%;}
	.col-s-9{width: 75%;}
	.col-s-10{width: 83.33%;}
	.col-s-11{width: 91.66%;}
	.col-s-12{width: 100%;}
}

@media only screen and (min-width: 768px){
	/* For desktop: */
	.col-1{width: 8.33%;}
	.col-2{width: 16.66%;}
	.col-3{width: 25%;}
	.col-4{width: 33.33%;}
	.col-5{width: 41.66%;}
	.col-6{width: 50%;}
	.col-7{width: 58.33%;}
	.col-8{width: 66.66%;}
	.col-9{width: 75%;}
	.col-10{width: 83.33%;}
	.col-11{width: 91.66%;}
	.col-12{width: 100%;}
}

